@import "core/settings";
@import "variable_overrides";

@import "normalize";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/inline-lists";
@import "foundation/components/type";

@import "core/layout";
@import "modules/home_page";

%top-border {
  border-top: 1px solid $green;
}
.nav {
  font-size: 1.8em;
  padding-left: 0.4em;
  margin-left: 0;
}

.curriculum-vitae {
  @extend %top-border;
}

.projects {
  @extend %top-border;
}

.contact {
  @extend %top-border;
}