$primary-color: $blue;
$secondary-color: #e9e9e9;
$alert-color: $pink;
$success-color: $green;

$font-family: 'Asap', "Helvetica", Helvetica, Arial, sans-serif;
$body-bg: #fff;
$body-font-color: $black-light;
$body-font-family: $font-family;

$body-font-weight: normal;

$header-font-family: $font-family;
$header-font-weight: bold;
$header-font-style: normal;
$header-font-color: $black;
$subheader-font-weight: 300;