.splash {
  margin-top: 100px;

  .blurb {
    font-size: 1.5em;
    line-height: 1.4em;
  }

  .name {
    font-size: 5em;
    line-height: 1em;
    text-align: right;
    color: $purple;
    padding-bottom: 0.3em;
    border-bottom: 1px solid $green;
    margin-bottom: 0.3em;
  }
}